@model FYMKWebApplication5.Models.Verify

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Verify</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Csharp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Csharp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Python)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Python)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
