@model FYMKWebApplication5.Models.C_Mentee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>C_Mentee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Countries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Countries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyProperty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EthicGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EthicGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prefenrene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prefenrene)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YourLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YourLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartT_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartT_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Training)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Training)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Working)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Working)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Working_Part_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Working_Part_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unemployed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unemployed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_Levels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Levels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Higher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Higher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAddres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAddres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAdre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAdre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedCountryIso32)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedCountryIso32)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyPropert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyPropert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyProper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyProper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PleaseTellUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PleaseTellUs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weekly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weekly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fortnight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fortnight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monthly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monthly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ONE_HOUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ONE_HOUR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ONE_FIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ONE_FIVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TWO_HOUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TWO_HOUR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.If_Yes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.If_Yes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enterpreneurship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enterpreneurship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.University)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resilence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resilence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.College)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.College)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Career)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareerOptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareerOptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Getting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Getting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangingCareer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangingCareer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visual_Arts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visual_Arts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Watching_Films)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Watching_Films)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creating_Videos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creating_Videos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reading_Fiction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reading_Fiction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Litary_Works)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Litary_Works)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Electronic_Video_Game)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Electronic_Video_Game)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cooking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cooking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteeringg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteeringg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalInterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessionalInterest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Science)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Science)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FInancial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FInancial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Educations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Educations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Business)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Business)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Legal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Legal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthCare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthCare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engineering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engineering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Non_Profit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Non_Profit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Politics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Politics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marketting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marketting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalInterestt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessionalInterestt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Outgoing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outgoing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funny)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lively)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lively)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Businesss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Businesss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Construtive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Construtive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emphathetic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emphathetic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intuitive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intuitive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passionate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passionate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reserved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reserved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reflective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reflective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vibrant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vibrant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Others)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Others)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Criminal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criminal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.References)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.References)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Refenrece)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refenrece)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedCountryIso3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedCountryIso3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Refenrec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refenrec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedCountryIso33)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedCountryIso33)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emaill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emaill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephonee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephonee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
