@model FYMKWebApplication4.Models.Mentor

@{
    ViewBag.Title = "Create";
}

<link href="~/css/settings.css" rel="stylesheet" />
<style>
    .areaWidth {
        width: 100px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()




    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="my-5">
                    <h3>Mentor Registration</h3>
                    <hr>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <form class="file-upload">
                    <div class="row mb-5 gx-5">
                        <div class="col-xxl-8 mb-5 mb-xxl-0">

                            <div class="bg-secondary-soft px-4 py-5 rounded">

                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0" style="background-color: #033347; border-radius: 0.4vw; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-right: 2%; font-size: 2vw; color: #ffffff;">Personal detail</h4>

                                    <div class="col-md-6">
                                        <label class="form-label">First Name *</label>
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Last Name *</label>
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">First Address *</label>
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Second Address *</label>
                                        @Html.EditorFor(model => model.Addresss, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Addresss, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">City *</label>
                                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">State / Province / Region *</label>
                                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Postal Code *</label>
                                        @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Country *</label>
                                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Telephone *</label>
                                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Email Address *</label>

                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Confirm Email *</label>

                                        @Html.EditorFor(model => model.ConrirmEmail, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ConrirmEmail, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Date of birth.. *</label>

                                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Gender *</label>

                                        @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                    </div>



                                </div>









                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0" style="background-color: #033347; border-radius: 0.4vw; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-right: 2%; font-size: 2vw; color: #ffffff;">Prefrence On Gender</h4>



                                    <div class="col-md-6">
                                        <label class="form-label">Do you have prefrence on Gender? *</label>

                                        @Html.EditorFor(model => model.PrefrenceOnGender, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PrefrenceOnGender, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Is English your first language? *</label>

                                        @Html.EditorFor(model => model.FirstLanguage, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FirstLanguage, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Do you have Criminal Conviction? *</label>

                                        @Html.EditorFor(model => model.CriminalConvivtion, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CriminalConvivtion, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Do you have an enhanced DBS certificates? *</label>

                                        @Html.EditorFor(model => model.DBSCertificate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DBSCertificate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">If Yes, what is your updated DBS number? *</label>

                                        @Html.EditorFor(model => model.UpdatedDBS, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UpdatedDBS, "", new { @class = "text-danger" })
                                    </div>

                                </div>







                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0" style="background-color: #033347; border-radius: 0.4vw; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-right: 2%; font-size: 2vw; color: #ffffff;">Education</h4>

                                    <div class="col-md-6">
                                        <label class="form-label">GCSE *</label>

                                        @Html.EditorFor(model => model.GCSE)
                                        @Html.ValidationMessageFor(model => model.GCSE, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">A Levels *</label>

                                        @Html.EditorFor(model => model.ALevel)
                                        @Html.ValidationMessageFor(model => model.ALevel, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Higher Education / University *</label>

                                        @Html.EditorFor(model => model.Higher)
                                        @Html.ValidationMessageFor(model => model.Higher, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Are you studying ow working? Tell us whuch industry / Sector you are in *</label>

                                        @Html.EditorFor(model => model.StudyingOrWorking, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.StudyingOrWorking, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Most recent Institute / University or Employer's Name & Address *</label>

                                        @Html.EditorFor(model => model.InstituteOrUniversity, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.InstituteOrUniversity, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Role & Responsibility or Course Studying *</label>

                                        @Html.EditorFor(model => model.CourseStudying, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CourseStudying, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Start date in school *</label>

                                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">End date in school *</label>

                                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                    </div>


                                </div>






                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0" style="background-color: #033347; border-radius: 0.4vw; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-right: 2%; font-size: 2vw; color: #ffffff;">Volunteer Works..</h4>


                                    <div class="col-md-6">
                                        <label class="form-label">Volunteer Exprience *</label><br />

                                        @Html.TextAreaFor(model => model.Volunteer, 5, 30, new { htmlAttributes = new { @class = "form-control ", style = "max-width:75% !important;" } })
                                        @Html.ValidationMessageFor(model => model.Volunteer, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Please tell us why you want to <br /> mentor through our organisation? *</label><br />

                                        @Html.TextAreaFor(model => model.WhyYouWantToMentor, 5, 30, new { htmlAttributes = new { @class = "form-control", style = "max-width:75% !important;" } })
                                        @Html.ValidationMessageFor(model => model.WhyYouWantToMentor, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Please tell us what you hope to gain <br /> from your experience with us as a mentor? *</label><br />

                                        @Html.TextAreaFor(model => model.YourExperience, 5, 30, new { htmlAttributes = new { @class = "form-control", style = "max-width:75% !important;" } })
                                        @Html.ValidationMessageFor(model => model.YourExperience, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">When will you be available to mentor ? *</label><br />

                                        @Html.TextAreaFor(model => model.WhenAreYouAvailable, 5, 30, new { htmlAttributes = new { @class = "form-control", style = "max-width:75% !important;" } })
                                        @Html.ValidationMessageFor(model => model.WhenAreYouAvailable, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Skills, Hobbies and Special Interest *</label><br />

                                        @Html.TextAreaFor(model => model.SkillHobbies, 5, 30, new { htmlAttributes = new { @class = "form-control", style = "max-width:75% !important;" } })
                                        @Html.ValidationMessageFor(model => model.SkillHobbies, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Do you have any special <br /> needs you would like to share? *</label><br />

                                        @Html.TextAreaFor(model => model.SpecialNeed, 5, 30, new { htmlAttributes = new { @class = "form-control", style = "max-width:75% !important;" } })
                                        @Html.ValidationMessageFor(model => model.SpecialNeed, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Any other comments or information *</label><br />

                                        @Html.TextAreaFor(model => model.Comment, 5, 30, new { htmlAttributes = new { @class = "form-control", style = "max-width:75% !important;" } })
                                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                                    </div>



                                </div>









                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0" style="background-color: #033347; border-radius: 0.4vw; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-right: 2%; font-size: 2vw; color: #ffffff;">Which area would you prefer to mentor?</h4>



                                    <div class="col-md-6">
                                        <label class="form-label">Education *</label>

                                        @Html.EditorFor(model => model.Education)
                                        @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Enterpreneurship *</label>

                                        @Html.EditorFor(model => model.Enterpreneurship)
                                        @Html.ValidationMessageFor(model => model.Enterpreneurship, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Employement *</label>

                                        @Html.EditorFor(model => model.Employement)
                                        @Html.ValidationMessageFor(model => model.Employement, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Developing Resilence *</label>

                                        @Html.EditorFor(model => model.Developing_Resilence)
                                        @Html.ValidationMessageFor(model => model.Developing_Resilence, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Volunteering *</label>

                                        @Html.EditorFor(model => model.Volunteering)
                                        @Html.ValidationMessageFor(model => model.Volunteering, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Changing Career *</label>

                                        @Html.EditorFor(model => model.Changing_Career)
                                        @Html.ValidationMessageFor(model => model.Changing_Career, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Building Confidence *</label>

                                        @Html.EditorFor(model => model.Building_Confidence)
                                        @Html.ValidationMessageFor(model => model.Building_Confidence, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Getting Involved In Community Work *</label>

                                        @Html.EditorFor(model => model.Getting_Involved_In_Community_Work)
                                        @Html.ValidationMessageFor(model => model.Getting_Involved_In_Community_Work, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Career Without University *</label>

                                        @Html.EditorFor(model => model.Career_Without_University)
                                        @Html.ValidationMessageFor(model => model.Career_Without_University, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Finding Jobs Locally *</label>

                                        @Html.EditorFor(model => model.Finding_Jobs_Locally)
                                        @Html.ValidationMessageFor(model => model.Finding_Jobs_Locally, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Developing A Professional Network *</label>

                                        @Html.EditorFor(model => model.Developing_A_Professional_Network)
                                        @Html.ValidationMessageFor(model => model.Developing_A_Professional_Network, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">CV Writting *</label>

                                        @Html.EditorFor(model => model.CV_Writting)
                                        @Html.ValidationMessageFor(model => model.CV_Writting, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">University Applications *</label>

                                        @Html.EditorFor(model => model.University_Applications)
                                        @Html.ValidationMessageFor(model => model.University_Applications, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Interview Skills *</label>

                                        @Html.EditorFor(model => model.Interview_Skills)
                                        @Html.ValidationMessageFor(model => model.Interview_Skills, "", new { @class = "text-danger" })
                                    </div>
                                    @*<div class="col-md-6">
                                            <label class="form-label">MyProperty *</label>

                                            @Html.EditorFor(model => model.MyProperty)
                                            @Html.ValidationMessageFor(model => model.MyProperty, "", new { @class = "text-danger" })
                                        </div>*@
                                    @*<div class="col-md-6">
                                            <label class="form-label">Visual Arts *</label>

                                            @Html.EditorFor(model => model.Visual_Arts)
                                            @Html.ValidationMessageFor(model => model.Visual_Arts, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Watching Films *</label>

                                            @Html.EditorFor(model => model.Watching_Films)
                                            @Html.ValidationMessageFor(model => model.Watching_Films, "", new { @class = "text-danger" })
                                        </div>*@
                                    @*<div class="col-md-6">
                                            <label class="form-label">Creating Videos *</label>

                                            @Html.EditorFor(model => model.Creating_Videos)
                                            @Html.ValidationMessageFor(model => model.Creating_Videos, "", new { @class = "text-danger" })
                                        </div>*@
                                    @*<div class="col-md-6">
                                            <label class="form-label">Reading Fiction *</label>

                                            @Html.EditorFor(model => model.Reading_Fiction)
                                            @Html.ValidationMessageFor(model => model.Reading_Fiction, "", new { @class = "text-danger" })
                                        </div>*@
                                    <div class="col-md-6">
                                        <label class="form-label">Literary Works *</label>

                                        @Html.EditorFor(model => model.Litary_Works)
                                        @Html.ValidationMessageFor(model => model.Litary_Works, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Sport *</label>

                                        @Html.EditorFor(model => model.Sport)
                                        @Html.ValidationMessageFor(model => model.Sport, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Electronic Video Game *</label>

                                        @Html.EditorFor(model => model.Electronic_Video_Game)
                                        @Html.ValidationMessageFor(model => model.Electronic_Video_Game, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Music *</label>

                                        @Html.EditorFor(model => model.Music)
                                        @Html.ValidationMessageFor(model => model.Music, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Baking *</label>

                                        @Html.EditorFor(model => model.Baking)
                                        @Html.ValidationMessageFor(model => model.Baking, "", new { @class = "text-danger" })
                                    </div>
                                    @*<div class="col-md-6">
                                            <label class="form-label">Cooking *</label>

                                            @Html.EditorFor(model => model.Cooking)
                                            @Html.ValidationMessageFor(model => model.Cooking, "", new { @class = "text-danger" })
                                        </div>*@
                                    <div class="col-md-6">
                                        <label class="form-label">Volunteering *</label>

                                        @Html.EditorFor(model => model.Volunteeringg)
                                        @Html.ValidationMessageFor(model => model.Volunteeringg, "", new { @class = "text-danger" })
                                    </div>




                                </div>









                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0" style="background-color: #033347; border-radius: 0.4vw; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-right: 2%; font-size: 2vw; color: #ffffff;">What are your other professional interests apart from the listed options above?</h4>





                                    <div class="col-md-6">
                                        <label class="form-label">Science & Technology *</label>

                                        @Html.EditorFor(model => model.Science)
                                        @Html.ValidationMessageFor(model => model.Science, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Information & Technology *</label>

                                        @Html.EditorFor(model => model.Information)
                                        @Html.ValidationMessageFor(model => model.Information, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Financial Services *</label>

                                        @Html.EditorFor(model => model.FInancial)
                                        @Html.ValidationMessageFor(model => model.FInancial, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Education *</label>

                                        @Html.EditorFor(model => model.Educations)
                                        @Html.ValidationMessageFor(model => model.Educations, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Business & Development *</label>

                                        @Html.EditorFor(model => model.Business)
                                        @Html.ValidationMessageFor(model => model.Business, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Legal & Litigation *</label>

                                        @Html.EditorFor(model => model.Legal)
                                        @Html.ValidationMessageFor(model => model.Legal, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Healthcare & Medicine *</label>

                                        @Html.EditorFor(model => model.HealthCare)
                                        @Html.ValidationMessageFor(model => model.HealthCare, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Engineering Publishing *</label>

                                        @Html.EditorFor(model => model.Engineering)
                                        @Html.ValidationMessageFor(model => model.Engineering, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Non-Profit Administration (Charity) *</label>

                                        @Html.EditorFor(model => model.Non_Profit)
                                        @Html.ValidationMessageFor(model => model.Non_Profit, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Politics *</label>

                                        @Html.EditorFor(model => model.Politics)
                                        @Html.ValidationMessageFor(model => model.Politics, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Marketing & Advertising *</label>

                                        @Html.EditorFor(model => model.Marketting)
                                        @Html.ValidationMessageFor(model => model.Marketting, "", new { @class = "text-danger" })
                                    </div>



                                </div>







                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0" style="background-color: #033347; border-radius: 0.4vw; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-right: 2%; font-size: 2vw; color: #ffffff;">What Best describe you? (Tick Applicably)</h4>



                                    <div class="col-md-6">
                                        <label class="form-label"> Outgoing *</label>

                                        @Html.EditorFor(model => model.Outgoing)
                                        @Html.ValidationMessageFor(model => model.Outgoing, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> Funny *</label>

                                        @Html.EditorFor(model => model.Funny)
                                        @Html.ValidationMessageFor(model => model.Funny, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> Lively *</label>

                                        @Html.EditorFor(model => model.Lively)
                                        @Html.ValidationMessageFor(model => model.Lively, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> Business-Oriented *</label>

                                        @Html.EditorFor(model => model.Businesss)
                                        @Html.ValidationMessageFor(model => model.Businesss, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> Constructive *</label>

                                        @Html.EditorFor(model => model.Construtive)
                                        @Html.ValidationMessageFor(model => model.Construtive, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> Emphathetic *</label>

                                        @Html.EditorFor(model => model.Emphathetic)
                                        @Html.ValidationMessageFor(model => model.Emphathetic, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> Intuitive *</label>

                                        @Html.EditorFor(model => model.Intuitive)
                                        @Html.ValidationMessageFor(model => model.Intuitive, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> Passionate *</label>

                                        @Html.EditorFor(model => model.Passionate)
                                        @Html.ValidationMessageFor(model => model.Passionate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> Reserved *</label>

                                        @Html.EditorFor(model => model.Reserved)
                                        @Html.ValidationMessageFor(model => model.Reserved, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> Reflective *</label>

                                        @Html.EditorFor(model => model.Reflective)
                                        @Html.ValidationMessageFor(model => model.Reflective, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> Vibrant *</label>

                                        @Html.EditorFor(model => model.Vibrant)
                                        @Html.ValidationMessageFor(model => model.Vibrant, "", new { @class = "text-danger" })
                                    </div>



                                </div>









                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0" style="background-color: #033347; border-radius: 0.4vw; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-right: 2%; font-size: 2vw; color: #ffffff;">Refrence</h4>




                                    <div class="col-md-6">
                                        <label class="form-label">Name  *</label>

                                        @Html.EditorFor(model => model.Refenrence, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Refenrence, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Address Line 1  *</label>

                                        @Html.EditorFor(model => model.Addressss, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Addressss, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Address Line 2  *</label>

                                        @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">City  *</label>

                                        @Html.EditorFor(model => model.Cityy, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Cityy, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">State / Province / Region  *</label>

                                        @Html.EditorFor(model => model.Region, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Postal Code  *</label>

                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Country  *</label>

                                        @Html.EditorFor(model => model.Countryy, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Countryy, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Telephone  *</label>

                                        @Html.EditorFor(model => model.Telephonee, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telephonee, "", new { @class = "text-danger" })
                                    </div>






                                </div>









                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0" style="background-color: #033347; border-radius: 0.4vw; padding-top: 2%; padding-bottom: 2%; padding-left: 2%; padding-right: 2%; font-size: 2vw; color: #ffffff;">Second Refrence</h4>




                                    <div class="col-md-6">
                                        <label class="form-label"> Name  *</label>

                                        @Html.EditorFor(model => model.Refenrence2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Refenrence2, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Address Line 1  *</label>

                                        @Html.EditorFor(model => model.Addresssss, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Addresssss, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Address Line 2  *</label>

                                        @Html.EditorFor(model => model.AddressTwo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AddressTwo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">City  *</label>

                                        @Html.EditorFor(model => model.Cityyy, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Cityyy, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">State / Province / Region  *</label>

                                        @Html.EditorFor(model => model.Regionn, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Regionn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Postal Code  *</label>

                                        @Html.EditorFor(model => model.Codee, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Codee, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Country  *</label>

                                        @Html.EditorFor(model => model.Countryyy, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Countryyy, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Telephone  *</label>

                                        @Html.EditorFor(model => model.Telephoneee, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telephoneee, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Final Note  *</label>

                                        @Html.EditorFor(model => model.FinalNote, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FinalNote, "", new { @class = "text-danger" })
                                    </div>






                                </div>





                                <div class="gap-3 d-md-flex justify-content-md-end text-center">
                                    <input type="submit" value="Submit" class="btn btn-success btn-lg" @*action="@Url.Action("sendMail", "Mentors1")" method="post" onclick="sendMail"*@ />
                                </div>


                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>




















}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
