@model FYMKWebApplication4.Models.Mentor

@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Mentor_LayoutPage2.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <!--<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">-->
        <div id="sidebarMenu" class="col-md-3 col-lg-2 flex-column d-md-block align-items-stretch flex-shrink-0 p-3 text-white bg-dark sidebar collapse">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

                <img src="~/img/FYMK-Square-512.png" alt="" width="150" style="margin-top: 2rem;" />
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a class="nav-link text-white" href="@Url.Action("MentorDashboard","FYMKMentorDashboard")">
                        Dashboard
                    </a>
                </li>

                <li>
                    <a class="nav-link text-white" href="@Url.Action("Mentee","FYMKMentorDashboard")">
                        Mentee
                    </a>
                </li>


                <li>
                    <a class="nav-link text-white" href="@Url.Action("MentorAlert","FYMKMentorDashboard")">
                        Program
                    </a>
                </li>

                <li>
                    <a class="nav-link text-white" href="@Url.Action("MentorCalender","FYMKMentorDashboard")">
                        Calender
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @*active*@ text-white" @*aria-current="page"*@ href="@Url.Action("Chat","FYMKMentorDashboard")">
                        Chat
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("HelpCentre","FYMKMentorDashboard")">
                        Help Centre
                    </a>
                </li>

                @*<li>
                        <a class="nav-link text-white" href="@Url.Action("MentorProfile","FYMKMentorDashboard")">
                            Profile
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-white" href="@Url.Action("MentorProgram","FYMKMentorDashboard")">
                            Program
                        </a>
                    </li>*@

                <li>
                    <a class="nav-link active text-white" aria-current="page" href="@Url.Action("Setting","FYMKMentorDashboard")">
                        Settings
                    </a>
                </li>

            </ul>
            <hr>
            <div class="dropdown">
                <button class="dropbtn">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </button>
                <div class="dropdown-content">
                    <a class="dropdown-item" aria-current="page" href="@Url.Action("Index","FYMKMentorDashboard")">Notifications</a>
                    <a class="dropdown-item" aria-current="page" href="@Url.Action("Setting","FYMKMentorDashboard")">Settings</a>
                    <a class="dropdown-item" aria-current="page" href="@Url.Action("MentorProfile","FYMKMentorDashboard")">Profile</a>

                </div>
            </div>


            <style>

                body{
  background:rgb(0, 45, 60);
}
#rock1{
  position:absolute;
  left:-30px;
  top:0px;
  width:40px;
  height:40px;
  transform:rotate(45deg);
  animation:b 6s infinite;
}
#rock2{
  position:absolute;
  left:200px;
  top:-25px;
  width:40px;
  height:40px;
  transform:rotate(45deg);
  animation:a 6s infinite;
}
#rock3{
  position:absolute;
  left:585px;
  top:5px;
  width:40px;
  height:40px;
  transform:rotate(45deg);
  animation:a 6s infinite;
}
#rock4{
  position:absolute;
  left:385px;
  top:90px;
  width:40px;
  height:40px;
  transform:rotate(45deg);
  animation:b 6s infinite;
}
#rock5{
  position:absolute;
  left:60px;
  top:140px;
  width:25px;
  height:25px;
  transform:rotate(45deg);
  animation:a 6s infinite;
}
#rock6{
  position:absolute;
  left:500px;
  top:-25px;
  width:25px;
  height:25px;
  transform:rotate(45deg);
  animation:a 6s infinite;
}
#rock7{
  position:absolute;
  left:60px;
  top:-55px;
  width:25px;
  height:25px;
  transform:rotate(45deg);
  animation:b 6s infinite;
}
#rock8{
  position:absolute;
  left:530px;
  top:130px;
  width:25px;
  height:25px;
  transform:rotate(45deg);
  animation:b 6s infinite;
}
keyframes a{
  0%{
    background:transparent;
  }
  50%{
    background:darkorange;
  }
  100%{
    background:transparent;
  }
}
keyframes b{
  0%{
    background:darkorange;
  }
  50%{
    background:transparent;
  }
  100%{
    background:darkorange;
  }
}
#div1{
  position:absolute;
  left:calc(50% - 300px);
  top:calc(50% - 150px);
  width:600px;
  height:100px;
  border:20px solid rgb(60, 60, 60);
  border-radius:100px;
}
#diva1{
  position:absolute;
  width:590px;
  height:90px;
  border:5px solid orange;
  border-radius:100px;
  background:orange;
  transition:.6s;
}
#img1{
  position:absolute;
  left:15px;
  top:15px;
  width:60px;
}
#img2{
  position:absolute;
  left:10px;
  top:10px;
  width:60px;
}
#img3{
  position:absolute;
  left:10px;
  top:10px;
  width:60px;
}
#divaa1{
  position:absolute;
  left:150px;
  width:80px;
  height:80px;
  border:5px solid orange;
  border-radius:100px;
  background:orange;
  transition:.6s;
}
#divaa1:hover{
  height:250px;
}
#divaa1:hover > #divaaa1{
  height:180px;
  border:5px solid orange;
}
#divaaa1{
  position:absolute;
  top:-5px;
  left:75px;
  width:40px;
  height:80px;
  border:5px solid orange;
  border-radius:100px;
  background:orange;
  transition:.6s;
}
#divaa2{
  position:absolute;
  left:300px;
  width:80px;
  height:80px;
  border:5px solid orange;
  border-radius:100px;
  background:orange;
  transition:.6s;
}
#divaa2:hover{
  height:200px;
}
#divaa2:hover > #divaaa2{
  height:230px;
}
#divaaa2{
  position:absolute;
  top:-5px;
  left:-25px;
  width:25px;
  height:80px;
  border:5px solid orange;
  border-radius:100px;
  background:orange;
  transition:.6s;
}
#divaa3{
  position:absolute;
  left:450px;
  width:80px;
  height:80px;
  border:5px solid orange;
  border-radius:100px;
  background:orange;
  transition:.6s;
}
#divaa3:hover{
  height:260px;
}
#divaa3:hover > #divaaa3{
  height:200px;
}
#divaa3:hover > #divaaa4{
  height:140px;
}
#divaaa3{
  position:absolute;
  top:-5px;
  left:-50px;
  width:40px;
  height:80px;
  border:5px solid orange;
  border-radius:100px;
  background:orange;
  transition:.6s;
}
#divaaa4{
  position:absolute;
  top:-5px;
  left:75px;
  width:25px;
  height:80px;
  border:5px solid orange;
  border-radius:100px;
  background:orange;
  transition:.6s;
}
#btna1{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
}
#divaa1:hover > #btna1{
  top:90px;
  color:black;
  background:dimgrey;
  padding-bottom:5px;
}
#btna2{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
}
#divaa1:hover > #btna2{
  top:140px;
  color:black;
  background:dimgrey;
  padding-bottom:5px;
}
#btna3{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
}
#divaa1:hover > #btna3{
  top:190px;
  color:black;
  background:dimgrey;
  padding-bottom:5px;
}
#btnb1{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
}
#divaa2:hover > #btnb1{
  top:90px;
  color:black;
  background:dimgrey;
  padding-bottom:5px;
}
#btnb2{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
}
#divaa2:hover > #btnb2{
  top:140px;
  color:black;
  background:dimgrey;
  padding-bottom:5px;
}
#btnc1{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
}
#divaa3:hover > #btnc1{
  top:90px;
  color:black;
  background:dimgrey;
  padding-bottom:5px;
}
#btnc2{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
}
#divaa3:hover > #btnc2{
  top:140px;
  color:black;
  background:dimgrey;
  padding-bottom:5px;
}
#btnc3{
  position:absolute;
  top:0px;
  background:transparent;
  width:75px;
  color:transparent;
  padding-top:5px;
  padding-bottom:5px;
  font-family:Georgia, serif;
  font-size:15px;
  border:2.5px solid transparent;
  border-radius:100px;
  cursor:pointer;
  transition:.6s;
}
#divaa3:hover > #btnc3{
  top:190px;
  color:black;
  background:dimgrey;
  padding-bottom:5px;
}
            </style>
            


        </div>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            @*<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Mentor Dashboard</h1>

                </div>*@



            <form action="@Url.Action("Edit", "Mentors1")" method="post">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>

                }
            </form>














            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Page title -->
                        <div class="my-5">
                            <h3>My Profile</h3>
                            <hr>
                        </div>
                        <!-- Form START -->
                        <form class="file-upload">
                            <div class="row mb-5 gx-5">
                                <!-- Contact detail -->
                                <div class="col-xxl-8 mb-5 mb-xxl-0">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="mb-4 mt-0">Contact detail</h4>
                                            <!-- First Name -->
                                            <div class="col-md-6">
                                                <label class="form-label">First Name *</label>
                                                <input type="text" class="form-control" placeholder="First name" aria-label="First name" value="" required>
                                            </div>
                                            <!-- Last name -->
                                            <div class="col-md-6">
                                                <label class="form-label">Last Name *</label>
                                                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" value="" required>
                                            </div>
                                            <!-- Phone number -->
                                            <div class="col-md-6">
                                                <label class="form-label">Phone number *</label>
                                                <input type="text" class="form-control" placeholder="(000) 000 000" aria-label="Phone number" value="">
                                            </div>
                                            <!-- Mobile number -->
                                            <div class="col-md-6">
                                                <label class="form-label">Mobile number *</label>
                                                <input type="text" class="form-control" placeholder="+00 0000 0000 000" aria-label="Phone number" value="">
                                            </div>
                                            <!-- Email -->
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Email *</label>
                                                <input type="email" class="form-control" id="inputEmail4" placeholder="username@example.com" value="" required>
                                            </div>
                                            <!-- Country -->
                                            <div class="col-md-6">
                                                <label for="inputCountry" class="form-label">Country *</label>
                                                <input type="month" class="form-control" id="inputCountry" placeholder="Country" value="" required>
                                            </div>
                                            <!-- Language -->
                                            <div class="col-md-6">
                                                <label for="inputLang" class="form-label">Language *</label>
                                                <input type="text" class="form-control" id="inputLang" placeholder="Language" value="" required>
                                            </div>
                                            <!-- Programme -->
                                            <h6>Select your programme duration</h6>
                                            <div class="col-md-12">
                                                <label for="programme1" class="form-label">8 weeks</label>
                                                <input type="radio" class="form-check-input" id="programme1" name="programme" value="8 weeks" required>
                                                <label for="programme2" class="form-label">    24 week</label>
                                                <input type="radio" class="form-check-input" id="programme2" name="programme" value="24 weeks" required>
                                            </div>

                                            <!-- Bio -->
                                            <div class="col-md-12">
                                                <label for="inputBio" class="form-label">Bio *</label>
                                                <input type="textarea" class="form-control" id="inputBio" placeholder="Tell us about you" value="" required>
                                            </div>
                                            <!-- interests -->
                                            <div class="col-md-12">
                                                <label for="inputInterest" class="form-label">Interest *</label>
                                                <input type="textarea" class="form-control" id="inputInterest" placeholder="use comma (,) and space example: swimming, running, reading" value="" required>
                                            </div>


                                        </div>
                                        <!-- Row END -->
                                    </div>
                                </div>
                                <!-- Upload profile -->
                                <div class="col-xxl-4">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="mb-4 mt-0">Upload your profile photo</h4>
                                            <div class="text-center">
                                                <!-- Image upload -->
                                                <div class="square position-relative display-2 mb-3">
                                                    <i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                                                </div>
                                                <!-- Button -->
                                                <input type="file" id="customFile" name="file" hidden="">
                                                <label class="btn btn-success-soft btn-block" for="customFile">Upload</label>
                                                <button type="button" class="btn btn-danger-soft">Remove</button>
                                                <!-- Content -->
                                                <p class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Minimum size 300px x 300px</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Row END -->
                            <!-- Social media detail -->
                            <div class="row mb-5 gx-5">
                                <div class="col-xxl-6 mb-5 mb-xxl-0">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="mb-4 mt-0">Social media detail</h4>
                                            <!-- Facebook -->
                                            <div class="col-md-6">
                                                <label class="form-label"><i class="fab fa-fw fa-facebook me-2 text-facebook"></i>Facebook </label>
                                                <input type="text" class="form-control" placeholder="username" aria-label="Facebook" value="">
                                            </div>
                                            <!-- Twitter -->
                                            <div class="col-md-6">
                                                <label class="form-label"><i class="fab fa-fw fa-twitter text-twitter me-2"></i>Twitter </label>
                                                <input type="text" class="form-control" placeholder="" aria-label="Twitter" value="">
                                            </div>
                                            <!-- Linkedin -->
                                            <div class="col-md-6">
                                                <label class="form-label"><i class="fab fa-fw fa-linkedin-in text-linkedin me-2"></i>Linkedin </label>
                                                <input type="text" class="form-control" placeholder="" aria-label="Linkedin" value="">
                                            </div>
                                            <!-- Instragram -->
                                            <div class="col-md-6">
                                                <label class="form-label"><i class="fab fa-fw fa-instagram text-instagram me-2"></i>Instagram </label>
                                                <input type="text" class="form-control" placeholder="" aria-label="Instragram" value="">
                                            </div>

                                            <!-- Pinterest -->
                                            <div class="col-md-6">
                                                <label class="form-label"><i class="fab fa-fw fa-pinterest text-pinterest"></i>Pinterest </label>
                                                <input type="text" class="form-control" placeholder="" aria-label="Pinterest" value="">
                                            </div>
                                        </div>
                                        <!-- Row END -->
                                    </div>
                                </div>

                                <!-- change password -->
                                <div class="col-xxl-6">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="my-4">Change Password</h4>
                                            <!-- Old password -->
                                            <div class="col-md-6">
                                                <label for="exampleInputPassword1" class="form-label">Old password *</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1">
                                            </div>
                                            <!-- New password -->
                                            <div class="col-md-6">
                                                <label for="exampleInputPassword2" class="form-label">New password *</label>
                                                <input type="password" class="form-control" id="exampleInputPassword2">
                                            </div>
                                            <!-- Confirm password -->
                                            <div class="col-md-12">
                                                <label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
                                                <input type="password" class="form-control" id="exampleInputPassword3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Row END -->
                            <!-- button -->
                            <div class="gap-3 d-md-flex justify-content-md-end text-center">

                                <button type="submit" class="btn btn-danger btn-lg">Delete profile</button>
                                <button type="submit" class="btn btn-success btn-lg">Update profile</button>
                            </div>
                        </form>
                        <!-- Form END -->
                    </div>
                </div>
            </div>












            <!--<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->


















        </main>
        <footer id="footer" role="contentinfo">
            <div class="footer-container">
                <hr>
                <p class="p-2" style="text-align:right;"> ©2022 Fresh Youth MK. All Rights Reserved</p>
            </div>
        </footer>
        <script src="./bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
        <script src="dashboard.js"></script>
        <script src="sidebars.js"></script>


    </div>

</div>

