
@{

    List<FYMKWebApplication5.Models.AdminMatch> Admt = (List<FYMKWebApplication5.Models.AdminMatch>)Session["AdminMatch"];
    List<FYMKWebApplication5.Models.AdminMenteeMatching> adminMentees = (List<FYMKWebApplication5.Models.AdminMenteeMatching>)Session["AdminMenteeMatching"];

    List<FYMKWebApplication5.Models.MatchingCheckbox> Check = (List<FYMKWebApplication5.Models.MatchingCheckbox>)Session["MatchingCheckbox"];

    List<FYMKWebApplication5.Models.MenteeCV> menteeCVs = (List<FYMKWebApplication5.Models.MenteeCV>)Session["MenteeCV"];

    List<FYMKWebApplication5.Models.CVMatching> CV = (List<FYMKWebApplication5.Models.CVMatching>)Session["CVMatching"];

    List<FYMKWebApplication5.Models.AdminCVMatching> adminCVMatchings = (List<FYMKWebApplication5.Models.AdminCVMatching>)Session["AdminCVMatching"];

    List<FYMKWebApplication5.Models.AdminCareerMatching> adminCareerMatchings = (List<FYMKWebApplication5.Models.AdminCareerMatching>)Session["AdminCareerMatching"];

    List<FYMKWebApplication5.Models.CareerMatching> careerMatchings = (List<FYMKWebApplication5.Models.CareerMatching>)Session["CareerMatching"];


    ViewBag.Title = "adminmatch";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <!--<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">-->
        <div id="sidebarMenu" class="col-md-3 col-lg-2 flex-column d-md-block align-items-stretch flex-shrink-0 p-3 text-white bg-dark sidebar collapse">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

                <img src="~/img/FYMK-Square-512.png" alt="" width="150px" style="margin-top: 2rem;" />
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("admindashboard","FYMKAdminDashboard")">
                        Admin Dashboard
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminmentorreview","FYMKAdminDashboard")">
                        Mentor Review
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminmenteereview","FYMKAdminDashboard")">
                        Mentee Review
                    </a>
                </li>
                <li>
                    <a class="nav-link active text-white" aria-current="page" href="@Url.Action("adminmatch","FYMKAdminDashboard")">
                        AdminMatch
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminprogram","FYMKAdminDashboard")">
                        Program
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminprogram2","FYMKAdminDashboard")">
                        Six Month Program
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("MatchRatio","FYMKAdminDashboard")">
                        Match Ratio
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminmentor","FYMKAdminDashboard")">
                        AdminMentor
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminmentee","FYMKAdminDashboard")">
                        AdminMentee
                    </a>
                </li>
                <li>
                    <a class="nav-link  text-white" href="@Url.Action("MenteeFeedBack","FYMKAdminDashboard")">
                        MenteeFeedBack
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("chat","FYMKAdminDashboard")">
                        Chat
                    </a>
                </li>

                <li>
                    <a class="nav-link text-white" href="@Url.Action("admincalender","FYMKAdminDashboard")">
                        Calender
                    </a>
                </li>


                <li>
                    <a class="nav-link text-white" href="@Url.Action("helpcentre","FYMKAdminDashboard")">
                        Help Centre
                    </a>
                </li>

            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" aria-current="page" href="@Url.Action("Index","FYMKMentorDashboard")">Notifications</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="@Url.Action("Create","ProfileSettings")">Settings</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="@Url.Action("Details","ProfileSettings")">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>


        <main class="d-flex flex-column col col-md-9 ms-sm-auto col-lg-10 px-md-4 overflow-auto">







            <h3>Mentor Filtering</h3>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <div class="panel panel-primary filterable ">
            @*<div class="panel panel-primary filterable">*@
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <th><input type="text" placeholder="FirstName"></th>
                            <th><input type="text" placeholder="LastName"></th>
                            <th><input type="text" placeholder="Email"></th>
                            <th><input type="text" placeholder="Enterpreneurship"></th>
                            <th><input type="text" placeholder="Education"></th>
                            <th><input type="text" placeholder="Employment"></th>
                            <th><input type="text" placeholder="Match"></th>

                        </tr>
                    </thead>
                    <tbody>

                        @{
                            foreach (var Mentor in Admt)
                            {
                                <tr>
                                    <td>@Mentor.FirstName</td>
                                    <td>@Mentor.LastName</td>
                                    <td>@Mentor.Email</td>
                                    <td>@Mentor.Enterpreneurship</td>
                                    <td>@Mentor.Education</td>
                                    <td>@Mentor.Employement</td>
                                    <td>

                                        <div class="container mt-3">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                                                Match
                                            </button>
                                        </div>

                                        <!-- The Modal -->
                                        <div class="modal" id="myModal">
                                            <div class="modal-dialog modal-fullscreen">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Mentee Filtering</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">

                                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                                                        <div class="panel panel-primary filterable">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr class="filters">
                                                                        <th><input type="text" placeholder="First Name"></th>
                                                                        <th><input type="text" placeholder="Employment"></th>
                                                                        <th><input type="text" placeholder="Career"></th>
                                                                        <th><input type="text" placeholder="Enterpreneurship"></th>
                                                                        <th><input type="text" placeholder="Education"></th>
                                                                        <th><input type="text" placeholder="Match-Status"></th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @{
                                                                        foreach (var careerMatchin in careerMatchings)
                                                                        {
                                                                            <tr>
                                                                                <td>@careerMatchin.FirstName</td>
                                                                                <td>@careerMatchin.Employment</td>
                                                                                <td>@careerMatchin.Career</td>
                                                                                <td>@careerMatchin.Enterpreneurship</td>
                                                                                <td>@careerMatchin.Education</td>
                                                                                <td>

                                                                                    <div>
                                                                                        <input type="checkbox" id="@careerMatchin.MentorId">

                                                                                        <button onclick="disable('@careerMatchin.MentorId')" type="button" id="mybtn" class="btn btn-success">Match</button>

                                                                                        @*<button onclick="undisable('@careerMatchin.Id')">Undisable checkbox</button>*@






                                                                                    </div>


                                                                                </td>
                                                                            </tr>

                                                                        }

                                                                    }


                                                                </tbody>
                                                            </table>
                                                            <nav class="paginatortable1">
                                                                <ul class="pagination">
                                                                    <li class="page-item"><a class="page-link firstpage" title="First" href="#">┃⏴</a></li>
                                                                    <li class="page-item"><a class="page-link prevpage" title="Previous" href="#">⏴</a></li>
                                                                    <li class="page-item active"><a class="page-link gotopage" title="Goto Page" href="javascript:void(0)">1 / 10</a></li>
                                                                    <li class="page-item"><a class="page-link nextpage" title="Next" href="#">⏵</a></li>
                                                                    <li class="page-item"><a class="page-link lastpage" title="Last" href="#">⏵┃</a></li>
                                                                </ul>
                                                            </nav>
                                                            <p>No.of Rows : <span id="rowcount"></span></p>
                                                        </div>

                                                    </div>

                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </td>


                                </tr>

                            }

                        }


                    </tbody>
                </table>
                <nav class="paginatortable1">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link firstpage" title="First" href="#">┃⏴</a></li>
                        <li class="page-item"><a class="page-link prevpage" title="Previous" href="#">⏴</a></li>
                        <li class="page-item active"><a class="page-link gotopage" title="Goto Page" href="javascript:void(0)">1 / 10</a></li>
                        <li class="page-item"><a class="page-link nextpage" title="Next" href="#">⏵</a></li>
                        <li class="page-item"><a class="page-link lastpage" title="Last" href="#">⏵┃</a></li>
                    </ul>
                </nav>
                <p>No.of Rows : <span id="rowcount"></span></p>
            </div>
            <script>

                function checkval() { 1 == $("tbody tr:visible").length && "No result found" == $("tbody tr:visible td").html() ? $("#rowcount").html("0") : $("#rowcount").html($("tr:visible").length - 1) }
                $(document).ready(function () {

                    $("#rowcount").html($(".filterable tr").length - 1), $(".filterable .btn-filter").click(function () { var t = $(this).parents(".filterable"), e = t.find(".filters input"), l = t.find(".table tbody"); 1 == e.prop("disabled") ? (e.prop("disabled", !1), e.first().focus()) : (e.val("").prop("disabled", !0), l.find(".no-result").remove(), l.find("tr").show()), $("#rowcount").html($(".filterable tr").length - 1) }), $(".filterable .filters input").keyup(function (t) { if ("9" != (t.keyCode || t.which)) { var e = $(this), l = e.val().toLowerCase(), n = e.parents(".filterable"), i = n.find(".filters th").index(e.parents("th")), r = n.find(".table"), o = r.find("tbody tr"), d = o.filter(function () { return -1 === $(this).find("td").eq(i).text().toLowerCase().indexOf(l) }); r.find("tbody .no-result").remove(), o.show(), d.hide(), d.length === o.length && r.find("tbody").prepend($('<tr class="no-result text-center"><td colspan="' + r.find(".filters th").length + '">No result found</td></tr>')) } $("#rowcount").html($("tr:visible").length - 1), checkval() })
                });


                function checkval() {
                    1 == $("tbody tr:visible").length &&
                        "No result found" == $("tbody tr:visible td").html()
                        ? $("#rowcount").html("0")
                        : $("#rowcount").html($("tr:visible").length - 1);
                }

                $(document).ready(function () {
                    $("#rowcount").html($(".filterable tr").length - 1),

                        $(".filterable .btn-filter").click(function () {
                            var t = $(this).parents(".filterable"),
                                e = t.find(".filters input"),
                                l = t.find(".table tbody");

                            1 == e.prop("disabled")
                                ? (e.prop("disabled", !1), e.first().focus())
                                : (e.val("").prop("disabled", !0),
                                    l.find(".no-result").remove(),
                                    l.find("tr").show()),
                                $("#rowcount").html($(".filterable tr").length - 1);
                        });

                    var filterTable = (el) => {
                        console.log(el.target, el);
                        var e = $(el.target),
                            l = e.val().toLowerCase(),
                            n = e.parents(".filterable"),
                            i = n.find(".filters th").index(e.parents("th")),
                            r = n.find(".table"),
                            o = r.find("tbody tr");
                        if (l) {
                            let d = o.filter(function () {
                                return (
                                    -1 ===
                                    $(el.target)
                                        .find("td")
                                        .eq(i)
                                        .text()
                                        .toLowerCase()
                                        .indexOf(l)
                                );
                            });

                            console.log(d);
                        }
                    }

                    $(".filterable .filters input").keyup(function (t) {
                        $(".filterable .filters input").each((i, el) => {
                            console.log($(el).val().toLowerCase());
                            var e = $(el),
                                l = e.val().toLowerCase();
                            if (l != '') {
                                var n = e.parents(".filterable"),
                                    i = n.find(".filters th").index(e.parents("th")),
                                    r = n.find(".table"),
                                    o = r.find("tbody tr:visible");
                                if (o.length === 0) {
                                    o.show()
                                }
                                console.log(l);

                                let d = o.filter(function () {
                                    return (
                                        -1 ===
                                        $(this)
                                            .find("td")
                                            .eq(i)
                                            .text()
                                            .toLowerCase()
                                            .indexOf(l)

                                    );
                                });

                                r.find("tbody .no-result").remove(),
                                    o.show(),
                                    d.hide(),

                                    /* d.length === o.length &&*/
                                    //r
                                    //    .find("tbody")
                                    //    .prepend(
                                    //        $(
                                    //            '<tr class="no-result text-center"><td colspan="' +
                                    //            r.find(".filters th").length +
                                    //            '">No result found</td></tr>'
                                    //        )
                                    //);
                                    $("#rowcount").html($("tr:visible").length - 1), checkval();
                                console.log(o.length, d.length);
                            }
                        })
                    });
                });








            </script>























        </main>

    </div>
</div>
<script>
    function disable(TheId) {
        document.getElementById(TheId).disabled = true;
        
        //if ((document.getElementById(TheId).checked)) {
        //    document.getElementById("mybtn").
        //        innerText = "Marched";
        //}
        //else {
        //    document.getElementById("mybtn").
        //        innerText = "Match";
        //}
    }

    function undisable(TheId) {
        document.getElementById(TheId).disabled = false;
    }



   

</script>
@*<script>

        //function check(TheID) {
        //    document.getElementById(TheID).checked = true

        //}

        //function uncheck(TheID) {
        //    document.getElementById(TheID).disable = true;
        //}

        //function Save(TheID) {
        //    var checkbox = document.getElementById(TheID);
        //    localStorage.setItem(TheID, checkbox.checked);
        //}
        ////for loading.
        //var checked = JSON.parse(localStorage.getItem(TheID));
        //document.getElementById(TheID).checked = checked;
       ///* <a id="link1" data-myuniqueid="TheID"> Link1 </a>*/

    </script>*@
<script src="bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script src="dashboard.js"></script>
<script src="sidebars.js"></script>
<script src="~/Matching JS/Matching.js"></script>






