
@{
    ViewBag.Title = "MenteeFeedBack";
    Layout = "~/Views/_LayoutPage1.cshtml";

    List<FYMKWebApplication5.Models.MenteeFeedBack> Feed = (List<FYMKWebApplication5.Models.MenteeFeedBack>)Session["MenteeFeedBack"];

}



<style>

    body {
        font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        background-color: #efefef;
        font-weight: 300;
    }

    p {
        color: #b3b3b3;
        font-weight: 300;
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

        a, a:hover {
            text-decoration: none !important;
        }

    .content {
        padding: 3rem 0;
        
    }

    h2 {
        font-size: 20px;
    }

    .custom-table {
        min-width: 900px;
    }

        .custom-table thead tr, .custom-table thead th {
            border-top: none;
            border-bottom: none !important;
            font-size:1.25rem;
        }

        .custom-table tbody th, .custom-table tbody td {
            color: #777;
            font-weight: 400;
            padding-bottom: 20px;
            padding-top: 20px;
            font-weight: 500;
            font-size: 1rem;
        }

            .custom-table tbody th small, .custom-table tbody td small {
                color: #b3b3b3;
                font-weight: 300;
            }

        .custom-table tbody tr:not(.spacer) {
            border-radius: 7px;
            overflow: hidden;
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
        }

            .custom-table tbody tr:not(.spacer):hover {
                -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
                box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
            }

        .custom-table tbody tr th, .custom-table tbody tr td {
            background: #fff;
            border: none;
        }

            .custom-table tbody tr th:first-child, .custom-table tbody tr td:first-child {
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;

            }

            .custom-table tbody tr th:last-child, .custom-table tbody tr td:last-child {
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
            }

        .custom-table tbody tr.spacer td {
            padding: 0 !important;
            height: 10px;
            border-radius: 0 !important;
            background: transparent !important;
        }

    /* Custom Checkbox */
    .control {
        display: block;
        position: relative;
        margin-bottom: 25px;
        cursor: pointer;
        font-size: 1.25rem;
    }

        .control input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

    .control__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 4px;
        border: 2px solid #ccc;
        background: transparent;
    }

    .control--radio .control__indicator {
        border-radius: 50%;
    }

    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
        border: 2px solid #007bff;
    }

    .control input:checked ~ .control__indicator {
        border: 2px solid #007bff;
        background: #007bff;
    }

    .control input:disabled ~ .control__indicator {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
        border: 2px solid #ccc;
    }

    .control__indicator:after {
        font-family: Poppins;
        content: '\e5ca';
        position: absolute;
        display: none;
    }

    .control input:checked ~ .control__indicator:after {
        display: block;
        color: #fff;
    }

    .control--checkbox .control__indicator:after {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -52%);
        -ms-transform: translate(-50%, -52%);
        transform: translate(-50%, -52%);
    }

    .control--checkbox input:disabled ~ .control__indicator:after {
        border-color: #7b7b7b;
    }

    .control--checkbox input:disabled:checked ~ .control__indicator {
        background-color: #007bff;
        opacity: .2;
        border: 2px solid #007bff;
    }


</style>


<div class="container-fluid">
    <div class="row">
        <!--<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">-->
        <div id="sidebarMenu" class="col-md-3 col-lg-2 flex-column d-md-block align-items-stretch flex-shrink-0 p-3 text-white bg-dark sidebar collapse">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

                <img src="~/img/FYMK-Square-512.png" alt="" width="150px" style="margin-top: 2rem;" />
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("admindashboard","FYMKAdminDashboard")">
                        Admin Dashboard
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminmentorreview","FYMKAdminDashboard")">
                        Mentor Review
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminmenteereview","FYMKAdminDashboard")">
                        Mentee Review
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminmatch","FYMKAdminDashboard")">
                        AdminMatch
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminprogram","FYMKAdminDashboard")">
                        Program
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminprogram2","FYMKAdminDashboard")">
                        Six Month Program
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("MatchRatio","FYMKAdminDashboard")">
                        Match Ratio
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminmentor","FYMKAdminDashboard")">
                        AdminMentor
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="@Url.Action("adminmentee","FYMKAdminDashboard")">
                        AdminMentee
                    </a>
                </li>

                <li>
                    <a class="nav-link active text-white" aria-current="page" href="@Url.Action("MenteeFeedBack","FYMKAdminDashboard")">
                        MenteeFeedBack
                    </a>
                </li>

                <li>
                    <a class="nav-link  text-white"  href="@Url.Action("chat","FYMKAdminDashboard")">
                        Chat
                    </a>
                </li>

                <li>
                    <a class="nav-link text-white" href="@Url.Action("admincalender","FYMKAdminDashboard")">
                        Calender
                    </a>
                </li>


                <li>
                    <a class="nav-link text-white" href="@Url.Action("helpcentre","FYMKAdminDashboard")">
                        Help Centre
                    </a>
                </li>

            </ul>

            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="admin alert.html">Notifications</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="@Url.Action("Edit","Profiles1")"> Settings</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="@Url.Action("Create","Profiles1")"> Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" aria-current="page" href="@Url.Action("Login","Home")">Sign out</a></li>
                </ul>
            </div>

        </div>



        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            @*<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                </button>
            </div>
        </div>*@

            <!--<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->






            <div class="content col-lg-11">

                <div class="container">
                    @*<h2>Mentee FeedBack</h2>*@

                    <div class="table-responsive custom-table-responsive">

                        <table class="table custom-table">
                            <thead>
                                <tr>

                                    <th scope="col">
                                        <label class="control control--checkbox">
                                            
                                        </label>
                                    </th>

                                    <th scope="col">Mentee Name</th>
                                    <th scope="col">Mentor Name</th>
                                    <th scope="col">Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var Dataa in Feed)
                                    {

                                                                <tr scope="row">
                                                                    <th scope="row">
                                                                       
                                                                    <td>@Dataa.Mentee_FirstName @Dataa.Mentee_LastName</td>
                                                                    <td>@Dataa.MentorName</td>
                                                                    <td>@Dataa.Comment</td>
                                                                    
                                                                </tr>
                                        <tr class="spacer"><td colspan="100"></td></tr>
                                    }
                                }



                            </tbody>
                        </table>
                    </div>


                </div>

            </div>









        </main>


    </div>


</div>

<script src="bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script src="dashboard.js"></script>
<script src="sidebars.js"></script>

